:root {
    --bulma-size-tiny: 0.5rem;
    --bulma-radius-tiny: 0.20rem;
}
.button.is-tiny {
    --bulma-control-size: var(--bulma-size-tiny);
    --bulma-control-radius: var(--bulma-radius-tiny);
}
/*BEGIN list transition animation*/
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.list-move {
    transition: transform 0.5s ease;
}
/*END list transition animation*/