:root {
    --bulma-size-tiny: 0.5rem;
    --bulma-radius-tiny: 0.20rem;
}
.button.is-tiny {
    --bulma-control-size: var(--bulma-size-tiny);
    --bulma-control-radius: var(--bulma-radius-tiny);
}

/* BEGIN - for v-animated-list directive effect */
/* Fade effect */
.fade-enter-from {
    opacity: 0;
    transform: translateY(10px);
}
.fade-enter-active {
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}
.fade-leave-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

/* Slide effect */
.slide-enter-from {
    opacity: 0;
    transform: translateX(20px);
}
.slide-enter-active {
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}
.slide-leave-active {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease;
}
/* END for v-animated-list directive effect */